<!DOCTYPE html>
<html>

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Orders:</h1>
  <div class="list-group">
    <% orders.forEach(function(order) { %>
      <div class="row px-3 py-1 w-100">
        <span class="col py-1 bg-info">
          <%=order.FirstName%>
            <%=order.LastName%>
        </span></span>
        <span class="col py-1 bg-info">
          <%=order.DishName%>
        </span></span>
        <button onclick="serve('<%=order.id%>')" class="col btn btn-secondary">Ready</button>
      </div>
      <% }); %>
  </div>
  <script>
    function serve(id) {
      fetch('/employee', {
        method: 'POST',
        headers: {
          'Content-type': 'application/json'
        },
        body: JSON.stringify({
          id: id
        })
      }).then((response) => {
        if (response.ok) {
          const resData = 'Updated an order';
          location.reload()
          return Promise.resolve(resData);
        }
        return Promise.reject(response);
      })
        .catch((response) => {
          alert(response.statusText);
        });
    }
  </script>
</body>

</html>